* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.menu a {
  text-decoration: none;
  color: inherit;
}
.logo {
  text-decoration: none;
}

.grid {
  display: grid;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 1px 0 8px #ccc;
  padding: 1.5rem 2rem;
  position: relative;
  background: #f1f1f1;
}
header > a {
  font-size: 1.5rem;
  color: #03a4ed;
  font-weight: bold;
}

header > a span {
  color: #ff685f;
}
header .menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 3rem 3rem 0.5rem;
  width: 100%;
  position: absolute;
  right: 0;
  top: 4.8rem;
  background: #f1f1f1;
  box-shadow: 1px 0 20px #ccc;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: 0.5s;
  z-index: 9999;
}
header .menu ul.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

header .menu ul li {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.6);
}
header .menu ul li:hover:not(:last-of-type) a {
  transition: 0.25s;
  color: #ff685f;
}
header .menu ul li.active {
  color: #ff685f;
}
header .menu ul li.login {
  margin-top: -5px;
  padding: 0.5rem 2rem;
  background: #ff695f;
  border-radius: 30px;
  color: white;
  transition: background-color 0.3s;
}
header .menu ul li.login:hover {
  background: #03a4ed;
}

header .menu-toggler {
  width: 25px;
  height: 25px;
}
header .menu-toggler button {
  width: 100%;
  height: 100%;
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}
.hidden {
  display: none;
}
@media screen and (min-width: 480px) {
  .header-text {
    display: flex;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 930px) {
  header .menu {
    padding: 0;
    margin-right: 50px;
  }
  header .menu ul {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    flex-direction: row;
    align-items: center;
    position: initial;
    background: inherit;
    box-shadow: initial;
    width: 100%;
    padding: 0;
  }
  header .menu ul li {
    margin: 0;
    margin-left: 30px;
  }
  header .menu ul li.login {
    margin: 0;
    margin-left: 30px;
    padding: 0.5rem 2rem;
  }
  .menu-toggler {
    display: none;
  }
}
.anounments-conteners {
  height: 40rem;
  position: relative;
}
.anounments-conteners > span {
  display: block;
  height: 100%;
  width: 25%;
  overflow: hidden;
  animation: the-second-img 7.5s ease-in-out infinite alternate;
}

.anounments-conteners > img {
  position: absolute;
  right: 0;
  bottom: 0;
  animation: the-first-img 15s ease-in-out infinite alternate;
}

.anouncments-yard {
  width: 84%;
  position: absolute;
  left: 8%;
  top: 12%;
  display: flex;
  flex-wrap: wrap;
}
.anouncments {
  height: 500px;
  width: 350px;
  margin: 5px 15px;
}

.anouncments-iner-div1 {
  width: 100%;
  height: 30%;
}
.anouncments-iner-div2 {
  border: 1px solid transparent;
  width: 100%;
  height: 70%;
  background-color: #ff6a5fce;
  padding: 0 20px;
  line-height: 1.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px #cfcfcf;
  text-align: center;
}
.anouncments-iner-div1 img {
  margin-left: 17.5%;
  width: 65%;
  height: 150%;
  border-radius: 50% 50%;
  border: 8px solid white;
}
.anouncments-iner-div2 h2 {
  color: white;
  overflow: hidden;
  text-transform: capitalize;
  margin-top: 90px;
}
.anouncments-iner-div2 span {
  display: block;
  margin-left: 12%;
  margin-top: 10px;
  width: 76%;
  height: 1%;
  background-color: white;
}
.anouncments-iner-div2 p {
  color: rgba(255, 255, 255, 0.63);
  margin-top: 10px;
  overflow: hidden;
  max-height: 7.5rem;
}
.anouncments-iner-div2 button {
  color: rgba(255, 255, 255, 0.63);
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}
.anouncments-iner-div2 button a{
  color: rgba(255, 255, 255, 0.63);
}
.anouncments-iner-div2 button a:hover {
  color: white;
}

@keyframes the-first-img {
  0% {
    right: 0;
    bottom: 0;
  }
  20% {
    right: 0;
    bottom: 63%;
  }
  40% {
    right: 55%;
    bottom: 63%;
  }
  60% {
    right: 25%;
    bottom: 20%;
  }
  80% {
    right: 55%;
    bottom: 0;
  }
  85% {
    right: 25%;
    bottom: 20%;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes the-second-img {
  0% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@media  (max-width: 700px){
  .anounments-conteners > span{
    display: none;
  }
}