*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
.nav-bar{
  border-bottom: 2px solid black;
}
.nav-bar a{
  color: black !important;
}

/* new */
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
}
.grid{
  display: grid;
}
/* header */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 1px 0 8px #ccc;
  padding: 1.5rem 2rem;
  position: relative;
  background:  #f1f1f1;
}
header > a {
  font-size: 1.5rem;
  color: #03a4ed;
  font-weight: bold;
}

header > a span{
  color: #ff685f;
}
header .menu ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 3rem 3rem .5rem;
  width: 80%;
  position: absolute;
  right: 0;
  top: 4.8rem;
  background:  #f1f1f1;
  box-shadow: 1px 0 20px #ccc;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: 0.5s;
  z-index: 9999;
}
header .menu ul.active{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}




header .menu ul li{
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
  color: rgba(0,0,0,.6);
}
header .menu ul li:hover:not(:last-of-type) a{
  transition: 0.25s;
  color: #ff685f;
}
header .menu ul li.active{
  color: #ff685f;
}
header .menu ul li.login{
  margin-top: -5px;
  padding: 0.5rem 2rem;
  background: #ff695f;
  border-radius: 30px;
  color: white;
  transition: background-color 0.3s;
}
header .menu ul li.login:hover{
  background: #03a4ed;
}

header .menu-toggler{
  width: 25px;
  height: 25px;
}
header .menu-toggler button{
  width: 100%;
  height: 100%;
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}
.hidden{
  display: none;
}




/* Recent BLogs */
.recent-cont{
  background: #ffffff;
  position: relative;
}

.left-banner{
  position: absolute;
  display: none;
  /* top: 5rem; */
  overflow: hidden;
  animation: left-banner 5s ease-in-out  forwards infinite;
}
@keyframes left-banner {
  0%{
    transform: rotate(0deg) translate(5rem,1rem);
  }
  50%{
    transform: rotate(50deg) translate(1rem,-1rem);
  }
  100%{
    transform: rotate(0deg) translate(5rem,1rem);
  }
}

.right-banner{
  position: absolute;
  right: 0;
  overflow: hidden;
  /* top: 5rem; */
  z-index: 1;
  animation: right-banner 10s linear forwards infinite;
}
@keyframes right-banner {
  0%{
    height: 0%;
  }
  50%{
    height: 100%;
  }
  100%{
    height: 0%;
  }
}

.recent-blogs-section{
  flex-direction: column;
  padding: .8rem;
  box-shadow: 1px 0 8px #ccc;
  margin: 0 auto;
  position: relative;
  z-index: 99;
  /* background: #afb6cd; */
}
.header-text{
  /* display: flex; */
  margin-bottom: 20px;
  background: #f1f1f1;;
  
}
.header-text > div{
  padding: 1rem 0;
  padding: .5rem 1rem;
}
.header-text .recent-border{
  text-align: center;
  border:2px solid #03a4ed;
}
.header-text .text{
  padding-left: .5rem;
  font-weight: bold;
}
.recent-blogs-container .blog{
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  /* border:1px solid #03a4ed; */
  /* max-height: 300px; */
}
.recent-blogs-container .blog img{
  width: 100%;
  height: 100%;
}
.recent-blogs-container .blog .data{
  position: absolute;
  z-index: 10;
  bottom: 0;
  padding: 1rem .5rem;
  height: 14%;
  max-height: 40%;
  width: 100%;
  background: #f1f1f1be;
  transition: 0.25s;
}

.info-reading{
  display: flex;
  width: 100%;
  color: #00000099;
  margin-bottom: 5px;
  transition: 0.25s;
}
.info-reading span:last-of-type{
  margin-left: 30px;
}
.recent-blogs-container .blog .info-reading{
  margin-bottom: 15px;
}
.recent-blogs-container .blog .data  h4{
  width: 100%;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #3d3d3d;
  transition: 0.25s;
}
.recent-blogs-container .blog:hover .data{
  background: #131417;
}
.recent-blogs-container .blog:hover .data .info-reading{
  color: white;
}
.recent-blogs-container .blog:hover .data  h4{
  color: white;
}
.recent-blogs-section .right-side{
  /* text-align: center; */
  /* color: #03a4ed; */
  background: #f1f1f177;
  padding: 1rem;
}
.recent-blogs-section .right-side .header{
  text-align: center;
  padding: 1.2rem 1rem .5rem;
  font-size: 1.4rem;
  color: #3d3d3d;
}
.recent-blogs-section .right-side a.blog{
  display: flex;
  flex-direction: column;
  display: block;
  margin-top:30px;
  padding-bottom: 1.5rem;
}
.recent-blogs-section .right-side a.blog:not(:last-of-type){
  border-bottom: 1px solid #ccc;
}
.recent-blogs-section .right-side a.blog .image-cont{
  position: relative;
  height: 13rem;
}
.recent-blogs-section .right-side a.blog .image-cont span{
  position: absolute;
  z-index: 99;
  background: #f1f1f1;
  padding: .3rem;
  border-radius: 100px;
  transform: translate(-6px ,-10px);
  /* color: white; */
}
.recent-blogs-section .right-side a.blog .image-cont img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent-blogs-section .right-side a.blog .text{
  margin: 15px 0;
}


@media screen and (min-width:480px) {
  .header-text{
    display: flex;
    margin-bottom: 20px;
  }
}
@media screen and (min-width:550px) {
  .left-banner{
    display: block;
  }
  .recent-blogs-container{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,13rem);
  }
  .recent-blogs-container a.blog:first-of-type{
    grid-column: 1/3;
    grid-row: 1/-1;
    margin-right: 10px;
    /* margin-bottom: 20px; */
  }
  .recent-blogs-container a.blog:nth-of-type(2){
    grid-column: 3/5;
    grid-row: 1/3;
    margin-bottom: 20px;
  }
  .recent-blogs-container a.blog:last-of-type{
    grid-column: 3/-1;
    grid-row: 3/-1;
  }
  .recent-blogs-section .right-side a.blog{
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .recent-blogs-section .right-side a.blog .image-cont{
    /* height: 6rem; */
    width: 50%;
  }
  .recent-blogs-section .right-side a.blog .text{
    padding-top: 50px;
    width: 50%;
    text-align: center;
  }
  .recent-blogs-section .right-side a.blog .text .info-reading{
    justify-content: space-evenly;
  }
  .recent-blogs-section .right-side a.blog .text h3{
    margin-top: 30px;
  }
  .recent-blogs-section .right-side a.blog .image-cont img{
    width: 300px;
    /* height: 200px; */
    position: static;
  }
}
@media screen and (min-width:930px) {
  header .menu{
    padding: 0;
    margin-right: 50px;
  }
  header .menu ul{  
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    flex-direction: row;
    align-items: center;
    position: initial;
    background: inherit;
    box-shadow: initial;
    width: 100%;
    padding: 0;
  }
  header .menu ul li{
    margin: 0;
    margin-left: 30px;

  }
  header .menu ul li.login{
    margin: 0;
    margin-left: 30px;
    padding: 0.5rem 2rem;
  }
  .menu-toggler{
    display: none;
  }



  .recent-blogs-section{
    grid-template-columns: 1fr 400px;
    max-width: 1530px;
    margin-top: 10px;
    box-shadow: initial;
    /* background: #131417; */
  }
  .recent-blogs-section .left-side{
    /* flex-basis: 80%; */
    margin-right: 30px; 
  }
  .recent-blogs-section .right-side{
    /* flex-basis: 20%; */
    min-width: 370px;
  }
  .recent-blogs-container .blog{
    margin: 5px;
    /* max-width: 350px; */
  }

  .recent-blogs-section .right-side a.blog .image-cont{
    height: 6rem;
    width: 30%;
  }
  .recent-blogs-section .right-side a.blog .image-cont img{
    width: 100px;
    height: 100px;
    position: static;
  }
  .recent-blogs-section .right-side a.blog .text{
    margin-left: 10px;
    width: 70%;
    padding-top: 0;
  }
  .recent-blogs-section .right-side a.blog .text .info-reading{
    font-size: .9rem;
    /* margin-left: 30px; */
    margin-bottom: 20px;
  }

}